/* CUSTOM PROPS */
:root {
    --green: #74c69d;
    --dark: #212529;
    --white: #ffffff;
}

/* FONTS */
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/CrimsonText-Bold.woff2') format('woff2'),
        url('../fonts/CrimsonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-Bold.woff2') format('woff2'),
        url('../fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 0.9375rem;
    font-weight: normal;
    line-height: 125%;
    font-family: "Work Sans","Arial",sans-serif;
    flex-direction: column;
    background-color: var(--white);
    color: var(--dark);
}

main {
    flex-grow: 1;
}

/* CONTAINER */
.container {
    max-width: 76.25rem;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BUTTON STYLES */
.btn-wrapper {
    width: max-content;
}

.btn-link {
    display: block;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 13px 48px 10px;
    border-radius: 5px;
}

.btn-white {
    background-color: var(--white);
    color: var(--dark);
}

.btn-dark {
    background-color: var(--dark);
    color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
}

/* SECTION STYLES */
.section__heading {
    order: 2;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Crimson Text',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 125%;
    text-align: center;
}
.section__top-text {
    order: 1;
    font-weight: bold;
    letter-spacing: 0.3125rem;
    margin-bottom: 16px;
    font-size: 1rem;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
}
.section__text {
    order: 3;
    font-size: 1.25rem;
    max-width: 25.6875rem;
    width: 100%;
    text-align: center;
}



.site-header {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: var(--green);
    position: relative;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo {
    margin-right: 30px;
}

.logo__img {
    display: block;
}

.logo__img:active {
    opacity: 0.6;
}

/* SITE HERO */
.site-hero {
    padding-top: 5px;
    padding-bottom: 83px;
    background-color: var(--green);
    color: var(--white);
}

.site-hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-hero__text-content {
    max-width: 26rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    flex-grow: 1;
}
.site-hero__heading {
    order: 2;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Crimson Text',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 125%;
}
.site-hero__welcome {
    order: 1;
    font-weight: bold;
    letter-spacing: 0.3125rem;
    margin-bottom: 15px;
    font-size: 1rem;
}
.site-hero__text {
    order: 3;
    color: rgba(255, 255, 255,0.75);
    margin-bottom: 25px;
}

.site-hero__btn {
    order: 4;
}

.site-hero__btn-link:hover {
    opacity: 0.8;
}

.site-hero__btn-link:active {
    opacity: 0.6;
}

.site-hero__img {
    max-width: 40.3125rem;
    width: 100%;
}

/* SITE PARTNERS SECTION */
.partners {
    padding-top: 60px;
}

.partners__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.partners__logo {
    order: 4;
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 45px;
    margin-left: -2.3%;
}
.partners__logo-item {
    margin-right: 2.3%;
    margin-left: 2.3%;
    margin-bottom: 10px;
}
.partners__logo-img {
    width: 100%;
}

.partners__btn {
    order: 4;
}

/* SITE SERVICES SECTION */
.site-services {
    padding-top: 73px;
    padding-bottom: 102px;
}

.services__list {
    display: flex;
    flex-direction: column;

}

.services__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__item:not(:last-child){
    margin-bottom: 74px;
}

.services__item:nth-child(2n) {
    flex-direction: row-reverse;
}

.services__img {
    margin-right: 30px;
}

.services__item:nth-child(2n) .services__img {
    margin-right: 0px;
    margin-left: 30px;
}

.services__info {
    max-width: 29.375rem;
    width: 100%;
}

.services__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: 'Crimson Text',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 125%;
}

.services__text {
    color:rgba(33, 37, 41,0.5);
    margin-bottom: 16px;
}

/* SITE OUR TALENTS SECTION */
.our-talents {
    padding-bottom: 54px;
}
.our-talents__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-talents__cards {
    order: 4;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0,0.25);
    border-radius: 5px;
    padding: 20px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 35px 20px;
}

.card__img-wrapper {
    width: 10.9375rem;
    height: 10.9375rem;
    border: 1px solid var(--dark);
    border-radius: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    padding-top: 13px;
    margin-right: 13.5px;
    margin-left: 13.5px;
    margin-bottom: 19px;
}

.card__info {
    width: 100%;
    text-align: left;
}

.card__name {
    font-family: 'Crimson Text',sans-serif;
    font-size: 1.5rem;
    margin-bottom: 17px;
}
.card__work {
    color:rgba(33, 37, 41,0.75);
}

.our-talents__btn {
    order: 5;
}

/* SITE FOOTER */
.footer {
    padding-top: 51px;
    padding-bottom: 49px;
    background-color: var(--green);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list {
    display: flex;
    list-style: none;
}

.footer__item:not(:last-child) {
    margin-right: 20px;
}

.footer__link {
    color: var(--white);
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__link:active {
    opacity: 0.6;
}

.footer__text-copyright {
    font-size: 1.75rem;
    color: var(--white);
}



/* MEDIA QUERY */
@media only screen and (max-width: 78.4375em) {
    .our-talents__cards {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 48em) {
    .site-header {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .site-hero__container {
        justify-content: center;
        flex-direction: column-reverse;
    }

    .site-hero__text-content {
        max-width: 26rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        flex-grow: 1;
    }

    .hero__img {
        margin-bottom: 30px;
    }

    .services__item {
        flex-direction: column;
        justify-content: center;
    }

    .services__item:not(:last-child) {
        margin-bottom: 60px;
    }

    .services__item:nth-child(2n) {
        flex-direction: column;
    }

    .services__img {
        margin-bottom: 30px;
    }

    .services__img {
        margin-right: 0px;
    }

    .services__item:nth-child(2n) .services__img {
        margin-left: 0px;
    }

    .footer__container {
        justify-content: center;
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 23.4375em) {
    .section__heading {
        font-size: 1.75rem;
    }

    .site-header {
        padding-top: 17px;
        padding-bottom: 17px;
    }

    .site-hero {
        padding-top: 15px;
        padding-bottom: 40px;
    }

    .site-hero__heading {
        font-size: 1.75rem;
    }

    .partners__logo {
        margin-bottom: 15px;
    }

    .partners__logo-item {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .services__title {
        font-size: 1.75rem;
    }

    .services__img {
        max-width: 20.9375rem;
        width: 100%;
    }

    .footer {
        padding-top: 31px;
        padding-bottom: 31px;
    }

}